.loading {
  min-height: calc(100vh - 44px - 59.2px - 40px - 39.2px - 66px);
  min-width: 1180px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 4px dashed green;
  animation: rotate 6s infinite linear;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
