@import url(https://fonts.googleapis.com/css?family=Oleo+Script+Swash+Caps:regular,700);

header {
  font-family: "Oleo Script Swash Caps", Helvetica, sans-serif;
  display: flex;
  justify-content: space-between;
  padding: 10px 30px 10px 20px;
  align-items: center;
  color: white;
  background-color: #45b250;
}

.logo {
  font-size: 1.5rem;
}

.repository {
  font-size: 1.2rem;
}

footer {
  padding: 20px 0 0;
  background-color: #dbffe2;
}

.footerWrapper {
  color: white;
  display: flex;
  justify-content: space-around;
  padding: 10px;
  background-color: #c2e4c7;
}

.content {
  max-width: 1800px;
  margin: 0 auto;
  padding: 20px;
  min-height: calc(100vh - 44px - 59.2px);
}
