.wrapperMain {
  min-height: calc(100vh - 44px - 59.2px - 40px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapperData {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.wrapperData img {
  height: 450px;
  width: 350px;
  background: #dbffe2 center center/cover no-repeat;
}

.rating::before {
  content: "- ";
}

.item {
  margin-bottom: 10px;
}

.item:last-child {
  margin-bottom: 0;
}

.info {
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  padding-left: 40px;
  justify-content: center;
}

.title {
  font-size: 1.5rem;
  padding: 20px;
  text-align: center;
}

.plot {
}
.rated {
}
.awards {
}
.actors {
}
.writer {
}

@media (max-width: 700px) {
  .wrapperData {
    flex-direction: column;
  }

  .wrapperData img {
    height: 380px;
    width: 280px;
  }
}
