.gridWrapper {
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
}

.observer {
  height: 20px;
  width: 100%;
}

.noFilms {
  min-height: calc(100vh - 44px - 59.2px - 40px - 39.2px - 66px);
}

@media all and (max-width: 1750px) {
  .gridWrapper {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media all and (max-width: 1040px) {
  .gridWrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media all and (max-width: 680px) {
  .gridWrapper {
    grid-template-columns: 1fr;
  }
}
